DISABLE_HMR=

# Turso (libSQL / SQLite Cloud)
TURSO_DATABASE_URL=libsql://thientch-thienlncntt.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTA1Nzc2NzgsImlkIjoiMDFhMGU2NzQtZmIwMS03OTg0LWEyNjItYmZjNmJkZGJlYzZkIiwia2lkIjoiRkQ3a3ZQc0l6UXJmLVRTRFRxLWh6UUlrSkRwSGVLcHFubTR3UVpmV1Q3QSIsInJpZCI6IjAwZDFlYTRlLTQ4Y2YtNDg1My05Y2MzLTRkZjdlODFmZjIzYyJ9.th7tdciiE9xGwGxYSRfU6cK5YLdI0V0v-qoZCxYT7K6h0R0eNPduZz_fgKJkNxwa5Kjr3uRGBiiDY3g2ZilHDw
VITE_TURSO_DATABASE_URL=libsql://thientch-thienlncntt.aws-ap-northeast-1.turso.io
VITE_TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTA1Nzc2NzgsImlkIjoiMDFhMGU2NzQtZmIwMS03OTg0LWEyNjItYmZjNmJkZGJlYzZkIiwia2lkIjoiRkQ3a3ZQc0l6UXJmLVRTRFRxLWh6UUlrSkRwSGVLcHFubTR3UVpmV1Q3QSIsInJpZCI6IjAwZDFlYTRlLTQ4Y2YtNDg1My05Y2MzLTRkZjdlODFmZjIzYyJ9.th7tdciiE9xGwGxYSRfU6cK5YLdI0V0v-qoZCxYT7K6h0R0eNPduZz_fgKJkNxwa5Kjr3uRGBiiDY3g2ZilHDw

# GitHub Repository Image Storage (Thay thế Supabase Storage)
GITHUB_TOKEN=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
GITHUB_OWNER=thienln.cntt@gmail.com
GITHUB_REPO=exam-images
GITHUB_BRANCH=main
VITE_GITHUB_TOKEN=your_toke_here
VITE_GITHUB_OWNER=thienln.cntt@gmail.com
VITE_GITHUB_REPO=exam-images
VITE_GITHUB_BRANCH=main
